<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="content-header">
            <div class="cont-logo">
                <a href=""><img class="logo-cg" src="/img/lwn-logo.png" alt="logo-chris-global"></a>
            </div>
            <div class="cont-group-ul">
                <ul class="group-li">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/project">Proyectos</a></li>
                    <li><a href="/task">Tareas</a></li>
                    <% if(user.id_role >= 3){ %>
                    <% } else{ %>
                        <li><a href="/report">Informes</a></li>
                    <% } %>
                    <% if(user.id_role >= 2){ %>
                    <% } else{ %>
                        <li><a href="/users">Usuarios</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
        <div class="content-header-top">
            <div class="cont-gen-tb">
                <div class="cont-btn-hbg">
                    <button><img class="menu-header" src="/icon/menu-icon.png" alt=""></button>
                    <!--<span>Super Usuario</span>-->
                </div>
                <div class="cont-info-user">
                    <% if(user.avatar_filepath ==null) { %>
                        <img class="avatar-user" src="/img/avatar-default.jpg" alt="">
                    <% } else { %>
                        <img class="avatar-user" src="<%= user.avatar_filepath %>" alt="">
                    <% } %>
                    <p><%= user.name_user %> <%= user.lastname_user %></p>
                    <a href="/users/edit-user"><img class="icon-info-user" src="/icon/user-icon.png" alt=""></a>
                    <a href="/users/logout">Salir</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="content-main">