<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Manager</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/icon/logo-chris.png" type="image/x-icon">
</head>
<body>
    <div class="content-pr-login">
        <div class="content-form-lo">
            <h1>Login</h1>
            <form class="form-lo" action="/login" method="post">
            <input class="input-lo" type="text" name="user" placeholder="Ingrese su correo" required><br>
            <input class="input-lo" type="password" name="pass" placeholder="Ingrese su clave" required><br>
            <button class="btn-lo" type="submit">Ingresar</button>
            </form>
        </div>
        <br>
        <br>
        <div class="content-users-pass">
            <h2>User list Boss</h2>
            <p>carlos@gmail.com : carlos</p>
            <p>andrea@gmail.com : andrea</p>
            <p>saul@gmail.com : saul</p>
            <p>sara@gmail.com : sara</p>
            <p><strong>email</strong>:<strong>pass</strong></p>
            <br>
            <h2>User list Employees</h2>
            <p>alberto@gmail.com : alberto</p>
            <p>frank@gmail.com : frank</p>
            <p>angelo@gmail.com : angelo</p>
            <p>sofia@gmail.com : sofia</p>
            <p>beatriz@gmail.com : beatriz</p>
            <p><strong>email</strong>:<strong>pass</strong></p>
        </div>
    </div>
</body>
</html>