<%-  include('includes/header') %>
            <div class="content-gen-dash">
                <h2>Report</h2>
                <h3>Lista de reportes</h3>
                <div class="control-project-fr">
                    <table class="table-date">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Proyecto</th>
                                <th scope="col">Tareas</th>
                                <th scope="col">Tareas Completadas</th>
                                <th scope="col">Total Horas</th>
                                <th scope="col">Progreso</th>
                                <th scope="col">Estado</th>
                                <th scope="col">*</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>1</th>
                                <td>Proyecto 1</td>
                                <td>5</td>
                                <td>3</td>
                                <td>80Hr/s</td>
                                <td>barrita</td>
                                <td>pendiente</td>
                                <td><a href="">imprimir</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="content-gen-dash-b">
                <div class="cont-status-count-project">
                    <div class="frame-info-ddt">
                        <h3>Total Tareas</h3>
                        <span>21</span>
                    </div>
                    <div class="frame-info-ddt">
                        <img src="" alt="">
                    </div>
                </div>
                <div class="cont-status-count-project">
                    <div class="frame-info-ddt">
                        <h3>Total Tareas Completadas</h3>
                        <span>50</span>
                    </div>
                    <div class="frame-info-ddt">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
<%- include('includes/footer') %>