<%-  include('includes/header') %>
            <div class="content-gen-dash">
                <h1 class="tt-add-task">Add Task Progress</h1>
                <div class="content-frame-np">
                  <form class="form-add-tsk" action="/task/new-task-progress" method="POST">
                    <input type="text" placeholder="Name Task " name="nameTaskPro" required>
                    <label class="label-addtsk" for="">Date Initial</label>
                    <input type="date" placeholder="Date Initial" name="dateInitial" required>
                    <label class="label-addtsk" for="">Time Initial</label>
                    <input type="time" placeholder="Hour Initial" name="timeInitial" required>
                    <label class="label-addtsk" for="">Date Finish</label>
                    <input type="date" placeholder="Date Finish" name="dateFinish" required>
                    <label class="label-addtsk" for="">Date Finish</label>
                    <input type="time" placeholder="Hour Finish" name="timeFinish" required>
                    <label class="label-addtsk" for="">Describe your progress</label>
                    <textarea name="description" id="" required></textarea>
                    <input type="hidden" value="<%= user.id_user %>" name="id_user">
                    <input type="hidden" value="<%= idTask %>" name="id_task">
                    <div class="ctn-btn-dd">
                      <button class="btn-add-task" type="submit">create</button>
                    </div>
                  </form>
                </div>
            </div>
            
<%- include('includes/footer') %>