<%-  include('includes/header') %>
            <div class="content-gen-dash">
                <h2>Users</h2>
                <h3>Lista de Usuarios</h3>
                <div class="control-project-fr">
                    <table class="table-date">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">correo</th>
                                <th scope="col">rol</th>
                                <th scope="col">acciones</th>
                                <th scope="col">*</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>1</th>
                                <td>Carlitos</td>
                                <td>carlitos@gmail.com</td>
                                <td>Jefe de proyecto</td>
                                <form action="">
                                    <td>
                                        <select name="accion_proyecto" selected value id="">
                                            <option value="0" >Añadir Equipo</option>
                                            <option value="1">Resumen Proyecto</option>
                                            <option value="2">Editar</option>
                                            <option value="3">Eliminar</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button>Procesar</button>
                                    </td>
                                </form>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="content-gen-dash-b">
                <div class="cont-status-count-project">
                    <a href="/users/new-user">Crear Usuario</a>
                    <a href="/users/category">Roles de Usuario</a>
                </div>
            </div>
<%- include('includes/footer') %>