*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.content-users-pass{
    font-size: 1.6rem;
}

/*------login----*/

.content-pr-login{
    
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-form-lo h1{
    text-align: center;
    padding-bottom: 1rem;
    font-size: 3rem;
}

.input-lo{
    padding: 0.5rem 0;
    margin: 0.2rem 0;
}

.form-lo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*------*/


.content-header{
    font-size: 2rem;
    background-color: rgb(4, 103, 184);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 22rem;
    transition: ease-in-out 0.2s;
}


.cont-logo{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.content-header ul li a{
    text-decoration: none;
    color: #fff;
}

.logo-cg{
    width: 15rem;
    
}

.cont-group-ul{
    display: flex;
    justify-content: center;
}

.group-li{
    list-style: none;
}

.group-li li{
    padding: 1rem 0;
    
}

.nav-btn{
    transition: ease-in-out 0.2s;
    
}

#close-menu{
    display: none;
}

/*---header--top----*/

.content-header-top{
    font-size: 2rem;
    position: fixed;
    top: 0;
    left: 22rem;
    height: 10rem;
    background-color: rgb(11, 122, 213);
    width: calc(100% - 22rem);
}

.cont-gen-tb{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.cont-btn-hbg{
    display: flex;
    align-items: center;
    
}

.btn-menu-ham{
    display: none;
    margin-left: 2rem;
}

.menu-header{
    width: 3rem;
}

.cont-info-user{
    display: flex;
    align-items: center;
    width: 35rem;
    justify-content: space-around;
    color: #fff;
}

.avatar-user{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.icon-info-user{
    width: 3.2rem;
    filter: invert();
}

.logout-enlace{
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}

/*---------main------*/

.gen-main{
    padding-left: 22rem;
    padding-top: 10rem;
    margin: 2rem;
}

.content-main{
    border-radius:  0.5rem;
    font-size: 1.6rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/*-----dhas----*/

.cont-frame-dp-dash{
    width: 100%;
    padding-bottom: 1rem;
}

.cont-regin-dash{
    display: flex;
}

.content-gen-dash h3{
    padding-bottom: 1rem;
}

.content-gen-dash{
    flex: 60%;
    padding: 1rem;
}

.content-gen-dash-b{
    flex: 40%;
}

.cont-status-count-project{
    display: flex;
    background-color: rgb(179, 201, 201);
    border-radius: 0.5rem;
    margin: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.frame-info-ddt{
    flex: 50%;
    text-align: center;
    padding: 0.6rem 0;
}
.icon-page{
    width: 5rem;
    filter: invert();
}

.table-date{
    width: 100%;
    background-color: rgb(14, 179, 216);
    padding: 1rem;
    color: #fff;
}

table, th, td {
    border-bottom: 1px solid;
    text-align: center;
    padding-top: 0.8rem;
    
}

.cont-regin-dash-b{
    display: flex;
    margin: 1rem;
}

/*---add-task--*/

.tt-add-task{
    text-align: center;
    padding-bottom: 1rem;
}

.content-frame-np{
    
    width: 40rem;
    margin: 0 auto;
}

.form-add-tsk{
    display: flex;
    flex-direction: column;
}

.label-addtsk{
    padding-top: 1rem;
}

.ctn-btn-dd{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-add-task{
    margin: 1rem;
    padding: 0.5rem 2rem;
}



/*----project------*/


.cont-pro-page-init{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding-bottom: 2rem;
}
.cont-status-count-project a{
    text-decoration: none;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    background-color: rgb(24, 164, 164);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

select, option{
    font-size: 1.4rem;
    
}

td button{
    font-size: 1.4rem;
}

/*-----project summary----*/

.cont-info-project-a{
    
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.cont-pr-tm-bs{
    
    margin: 1rem 0rem;
    padding: 0.5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.btn-psumm{
    padding: 0.5rem 2rem;
    background-color: aqua;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

/*------report----*/

.content-result-data-dash{
    margin: 1rem;
}

.title-i-p-g{
    padding-bottom: 1rem;
}

/*---task-admin---*/

.control-task-manager{
    padding: 1rem 0;
}

/*---team--project---*/

.content-team-gen-all-dd{
    padding-bottom: 1rem;
}

.content-list-employee{
    margin: 1rem;
}

/*---edit-user---*/

.avatar-user-fr{
    width: 10rem;
    height: 10rem;
}


/*--footer----*/

.content-footer{
    padding-left: 20%;
    height: 6rem;
    width: 100%;
    background: rgb(11,9,121);
    background: linear-gradient(340deg, rgba(11,9,121,1) 23%, rgba(0,212,255,1) 51%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2rem;
}

@media (max-width:767px) {
    .content-header{
        font-size: 2rem;
        background-color: rgb(4, 103, 184);
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 22rem;
        transition: ease-in-out 0.2s;
        transform: translateX(-22rem);
        z-index: 5;
    }

    .btn-menu-ham{
        display: block;
    }

    .content-header-top{
        left: 0rem;
        width: calc(100%);
    }

    .gen-main{
        padding-left: 0rem;
        margin: 2rem;
    }

    .nav-btn{
        transition: ease-in-out 0.2s;
        transform: translateX(0rem);
        
    }

    #close-menu{
        display: block;
    }


}

@media (max-width:507px){
    html{
        font-size: 48%;
    }
}

@media (max-width:441px){
    html{
        font-size: 40%;
    }
}

@media (max-width:347px){
    html{
        font-size: 35%;
    }
}

@media (max-width:310px){
    html{
        font-size: 30%;
    }
}